<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>



<table>
    <tr>
<td><select onchange="getinstitute(this.value)" class="aa" id="university-select">
        <option >University Name</option>
        {{#each data1}}
        <option >{{this.university_name}}</option>
        {{/each}}
       </select></td>
    <td><select id="year-select" onchange="getDetails(this.value)"  class="aa" >
        <option >Year </option>
        {{!-- {{#each data}}
        <option >{{this.year}}</option>
        {{/each}} --}}
       </select></td>
       
<td><button class="abutton1">View</button></td>
</tr>
</table>
<br><br><br>
<table class="table" id="table">
  <thead >
    <tr>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col">Name</th>
      <th scope="col">Institute Name</th>
      <th scope="col">  </th>
    </tr>
  </thead>
  <tbody class="atd" id="atd">
  {{!-- {{#each data}}
    <tr>
      <th scope="row">1</th>
      <td><img class="dimg" src="/images/photo/{{this._id}}.jpg"></td>
      <td>{{this.name}}</td>
      <td>{{this.institute_name}}</td>
      <td> <a href="/admin/admin_po_view/{{this._id}}"><button class="abutton1">more</button></td></a>
    </tr>
   {{/each}} --}}
</table>


<script>

 // Change the style of the div when the page loads

  $('#table').hide();



  const universitySelect = $('#university-select');
    const yearSelect = $('#year-select');
     const table=$('#atd')

  const getinstitute = (value) => {


//GET YEAR
    $.ajax({
      url: "/admin/getInstitute",
      method: "POST",
      data: {
        universityName: value
      },
      success: function (response) {
      },
      error: function (xhr, status, error) {
        console.error("Request failed:", status, error);
      }
    });
  }



 const getDetails = (value) => {
    table.empty()
//var inputValue = $('#myInput').val();
let university = universitySelect.val()
    console.log(universitySelect.val(),'universitySelect.val')

    $.ajax({
      url: "/admin/getpoDetails",
      method: "POST",
      data: {
        getDetails: value,
        university,
      },
      success: function (response) {
        
  $('#table').show();
 
  response.map((value,index)=>{

  let row =  `   <tr>
      <th scope="row">1</th>
      <td><img class="dimg" src="/images/photo/${value._id}.jpg"></td>
      <td>${value.name}</td>
      <td>${value.institute_name}</td>
      <td> <a href="/admin/admin_po_view/${value._id}"><button class="abutton1">more</button></td></a>
    </tr>`;
      table.append(row);

  })
      },
      error: function (xhr, status, error) {
        console.error("Request failed:", status, error);
      }
    });
  }

</script>
<script type="text/javascript">
    window.onload = function () {
        //Reference the DropDownList.
        var ddlYears = document.getElementById("year-select");
 
        //Determine the Current Year.
        var currentYear = (new Date()).getFullYear();
 
        //Loop and add the Year values to DropDownList.
        for (var i = 2020; i <= currentYear; i++) {
            var option = document.createElement("OPTION");
            option.innerHTML = i;
            option.value = i;
            ddlYears.appendChild(option);
        }
    };
</script>`


