<div class="abc1">
  {{#if data}}
  <div class="text-center">
    <img class="aaimg" src="/images/photo/{{data._id}}.jpg">
  </div>
  <div>
    <h3 class="ah">University details </h3>
  </div>
  <div class="row ap">
    <div class="col">
      <label class="af">University Name</label><input readonly  name="university_name"  value="{{data.university_name}}"  readonly  name="" type="text"  class="form-control">
    </div>
    <div class="col">
      <label class="af">State</label><input readonly  name="state" value="{{data.state}}" type="text" class="form-control">
    </div>
  </div>
  <div class="row ap">
    <div class="col">
      <label class="af">University Address </label><textarea readonly  name="university_address" class="form-control"> {{data.university_address}}</textarea>
    </div>
    <div class="col">
      <label class="af">District</label><input readonly  name="district" value="{{data.district}}" type="text" class="form-control">
    </div>
  </div>
  <div class="row ap">
    <div class="col">
      <label class="af">Pincode</label><input readonly  name="pincode" value="{{data.pincode}}" type="text" class="form-control">
    </div>
    <div class="col">
      <label class="af">Contact Number</label><input readonly  name="contact_number" value="{{data.contact_number}}" type="text" class="form-control">
    </div>
  </div>
  <div>
    <h3 class="ah">Bank Details</h3>
  </div>
  <div class="row ap">
    <div class="col">
      <label class="af">Bank Name</label><input readonly  name="bank_name" value="{{data.bank_name}}" type="text" class="form-control">
    </div>
    <div class="col">
      <label class="af">A/c Number</label><input readonly  name="ac_number" value="{{data.ac_number}}" type="text" class="form-control">
    </div>
  </div>
  <div class="row ap">
    <div class="col">
      <label class="af">IFSC Code</label><input readonly  name="ifsc_code" value="{{data.ifsc_code}}" type="text" class="form-control">
    </div>
    <div class="col">
      <label class="af">Branch Name</label><input readonly  name="branch_name" value="{{data.branch_name}}" type="text" class="form-control">
    </div>
  </div>
  <div >
    <h3 class="ah">Login details </h3>
   </div>
   <div class="row ap">
    <div class="col">
      <label class="af">username</label><input readonly  name="username" value="{{data.username}}" name="username" type="text" class="form-control" >
    </div>
    <div class="col">
      <label class="af">Password</label><input readonly  name="password" value="{{data.password}}" name="password" type="text" class="form-control">
    </div></div>
  <div>
    <h3 class="ah">Personal Details</h3>
  </div>
  <div class="row ap">
    <div class="col">
      <label class="af">Name</label><input readonly  name="name" value="{{data.name}}" readonly  name="" type="text" value="{{data.name}}" class="form-control">
    </div>
    <div class="col">
      <label class="af">Gender</label><input readonly  name="gender" value="{{data.gender}}" type="text" class="form-control">
    </div>
  </div>
  <div class="row ap">
    <div class="col">
      <label class="af">Date of Birth</label><input readonly  name="dob" value="{{data.dob}}" type="text" class="form-control">
    </div>
    <div class="col">
      <label class="af">Contact Number</label><input readonly  name="contact_number1" value="{{data.contact_number1}}" type="text" class="form-control">
    </div>
  </div>
  <div class="row ap">
    <div class="col">
      <label class="af">WhatsApp Number </label><input readonly  name="whatsapp_number" value="{{data.whatsapp_number}}" type="text" class="form-control">
    </div>
    <div class="col">
      <label class="af">Religion</label><input readonly  name="religion" value="{{data.religion}}" type="text" class="form-control">
    </div>
  </div>
  <div class="row ap">
    <div class="col">
      <label class="af">Community </label><input readonly  name="community" value="{{data.community}}" type="text" class="form-control">
    </div>
    <div class="col">
      <label class="af">Blood Group </label><input readonly  name="blood_group" value="{{data.blood_group}}" type="text" class="form-control">
    </div>
  </div>
  <div class="row ap">
    <div class="col">
      <label class="af">Height </label><input readonly  name="height" value="{{data.height}}" type="text" class="form-control">
    </div>
    <div class="col">
      <label class="af">Weight</label><input readonly  name="weight" value="{{data.weight}}" type="text" class="form-control">
    </div>
  </div>
  <div class="row ap">
    <div class="col">
      <label class="af">District </label><input readonly  name="district1" value="{{data.district1}}" type="text" class="form-control">
    </div>
    <div class="col">
      <label class="af">Taluk</label><input readonly  name="taluk" value="{{data.taluk}}" type="text" class="form-control">
    </div>
  </div>
  <div class="row ap">
    <div class="col">
      <label class="af">Village </label><input readonly  name="village" value="{{data.village}}" type="text" class="form-control">
    </div>
    <div class="col">
      <label class="af">Pincode</label><input readonly  name="pincode1" value="{{data.pincode1}}" type="text" class="form-control">
    </div>
  </div>
  <div class="row ap">
    <div class="col">
      <label class="af">Name of Parent / Guardian </label><input readonly  name="name_of_parent" value="{{data.name_of_parent}}" type="text" class="form-control">
    </div>
    <div class="col">
      <label class="af">Parent's Contact Number </label><input readonly  name="parent_contact_number" value="{{data.parent_contact_number}}" type="text" class="form-control">
    </div>
  </div>
  <div class="row ap">
    <div class="col">
      <label class="af">Permanent Address </label><textarea readonly  name="permanent_address" class="form-control"> {{data.permanent_address}}</textarea>
    </div>
    <div class="col">
      <label class="af">Contact Address </label><textarea readonly  name="contact_address" class="form-control"> {{data.contact_address}}</textarea>
    </div>
  </div>
  <div class="row ap">
    <div class="col">
      <b><label class="ah">Languages Known </label><br></b><br><br>
    <input readonly   name="{{data.language_known}}" {{#if data.language_known }} checked{{/if}} disabled type="checkbox"> &nbsp;<label class="af">English </label>
      <input readonly   name="{{data.language_known2}}" {{#if data.language_known2 }} checked {{/if}} disabled type="checkbox">&nbsp;<label class="af">Hindi </label>
      <input readonly   name="{{data.language_known3}}"  {{#if data.language_known3 }} checked{{/if}} disabled  type="checkbox">&nbsp;<label class="af">Malayalam </label>
      <input readonly   name="{{data.language_known4}}"  {{#if data.language_known4 }} checked{{/if}} disabled type="checkbox">&nbsp;<label class="af">Others </label>
    </div>
  </div>
  <div class="row ap">
    <div class="col">
      <label class="af">Area of Interest </label><textarea readonly  name="area_of_intrest" class="form-control"> {{data.area_of_intrest}}</textarea>
    </div>
    <div class="col">
      <label class="af">Hobbies</label><textarea readonly  name="hobbies" class="form-control"> {{data.hobbies}}</textarea>
    </div>
  </div>
  <div class="row ap">
    <div class="col">
      <label class="af">Prior Experience </label><textarea readonly  name="prior_experience" class="form-control"> {{data.prior_experience}}</textarea>
    </div>
    <div class="col">
      <label class="af">Cultural talents </label><textarea readonly  name="cultural_talents" class="form-control"> {{data.cultural_talents}}</textarea>
    </div>
  </div>
  <div class="row ap">
    <div class="col">
      <b><label class="ah">Are you interested in camps</label><br></b><br><br>
         <input readonly  name="{{data.interested_in_camps}}"{{#if data.interested_in_camps }}  checked{{/if}} disabled type="checkbox"> &nbsp;<label class="af">State </label>
      <input readonly  name="{{data.interested_in_camps1}}"{{#if data.interested_in_camps1 }}  checked{{/if}} disabled type="checkbox">&nbsp;<label class="af">National </label>
      <input readonly  name="{{data.interested_in_camps2}}"{{#if data.interested_in_camps2 }}  checked{{/if}} disabled type="checkbox">&nbsp;<label class="af">International </label>
   </div>
    <div class="col">
      <img class="abimg" src="/images/sign/{{data._id}}.jpg">
    </div>
  </div>


  <div class="row ap">
    <form action="/admin/accept/{{data._id}}" method="post">
      <div class="col">
         <input class="abutton" type="submit"  value="accept" >
      </div></form>
      <form action="/admin/reject/{{data._id}}" method="post">
      <div class="col">
      <input  class="abutton" type="submit"  value="reject" >
      </div>
    </form>
  </div>



  {{/if}}
</div>