<div class="abc">
   <div class="text-center">

    <img class="aaimg" src="/images/photo/{{po_details._id}}.jpg">
   </div>
  <div class="row ap">
    <div class="col">
      <label class="af">Name</label><input  value="{{po_details.name}}" type="text" class="form-control" >
    </div>
    <div class="col">
      <label class="af">Gender</label><input  value="{{po_details.gender}}" type="text" class="form-control">
    </div></div>
    <div class="row ap">
    <div class="col">
      <label class="af">Date of Birth</label><input  value="{{po_details.dob}}" type="text" class="form-control" >
    </div>
    <div class="col">
      <label class="af">Condact Number</label><input  value="{{po_details.condact_number}}" type="text" class="form-control">
    </div></div>
    <div class="row ap">
    <div class="col">
      <label class="af">WhatsApp Number </label><input  value="{{po_details.whatsapp_number}}" type="text" class="form-control" >
    </div>
    <div class="col">
      <label class="af">Religion</label><input  value="{{po_details.religion}}" type="text" class="form-control">
    </div></div>
     <div class="row ap">
    <div class="col">
      <label class="af">Community </label><input  value="{{po_details.community}}" type="text" class="form-control" >
    </div>
    <div class="col">
      <label class="af">Blood Group </label><input  value="{{po_details.blood_group}}" type="text" class="form-control">
    </div></div>
     <div class="row ap">
    <div class="col">
      <label class="af">Height </label><input  value="{{po_details.height}}" type="text" class="form-control" >
    </div>
    <div class="col">
      <label class="af">Weight</label><input  value="{{po_details.weight}}" type="text" class="form-control">
    </div></div>
     <div class="row ap">
    <div class="col">
      <label class="af">District </label><input  value="{{po_details.district}}" type="text" class="form-control" >
    </div>
    <div class="col">
      <label class="af">Taluk</label><input  value="{{po_details.taluk}}" type="text" class="form-control">
    </div></div>
     <div class="row ap">
    <div class="col">
      <label class="af">Village </label><input  value="{{po_details.village}}" type="text" class="form-control" >
    </div>
    <div class="col">
      <label class="af">Pincode</label><input  value="{{po_details.pincode}}" type="text" class="form-control">
    </div></div>
    <div class="row ap">
    <div class="col">
      <label class="af">Name of Parent / Guardian  </label><input  value="{{po_details.name_of_parent}}" type="text" class="form-control" >
    </div>
    <div class="col">
      <label class="af">Parent's Contact Number </label><input  value="{{po_details.parent_condact_number}}" type="text" class="form-control">
    </div></div>
    <div class="row ap">
    <div class="col">
      <label class="af">Permanent Address  </label>{{po_detail.spermanent_address}}<textarea class="form-control" ></textarea>
    </div>
    <div class="col">
      <label class="af">Contact Address </label>{{po_details.condact_address}}<textarea class="form-control" ></textarea>
    </div></div>
    <div class="row ap">
  <div class="col">
      <b><label class="ah">Languages Known </label><br></b><br><br> 
      <input readonly name="language_known" {{#if po_details.language_known }} checked{{/if}}  type="checkbox"> &nbsp;<label class="af">English </label>
      <input readonly name="language_known2" {{#if po_details.language_known2 }} checked {{/if}}  type="checkbox">&nbsp;<label class="af">Hindi </label>
      <input readonly name="language_known3" {{#if po_details.language_known3 }} checked{{/if}}   type="checkbox">&nbsp;<label class="af">Malayalam </label>
      <input readonly name="language_known4"  {{#if po_details.language_known4 }} checked{{/if}}  type="checkbox">&nbsp;<label class="af">Others </label>
    </div></div>
    <div class="row ap">
    <div class="col">
      <label class="af">Area of Interest </label>{{ po_details.area_of_intrest}}<textarea class="form-control" ></textarea>
    </div>
    <div class="col">
      <label class="af">Hobbies</label>{{po_details.hobbies}}<textarea class="form-control" ></textarea>
    </div></div>
    <div class="row ap">
    <div class="col">
      <label class="af">Prior Experience   </label>{{po_details.prior_experience}}<textarea class="form-control" ></textarea>
    </div>
    <div class="col">
      <label class="af">Cultural talents </label>{{po_details.cultural_talents}}<textarea class="form-control" ></textarea>
    </div></div>
    
    <div class="row ap">
      <div class="col">
      <b><label class="ah">Are you interested in camps</label><br></b><br><br>
      <input readonly name="interested_in_camps"{{#if po_details.interested_in_camps }}  checked{{/if}}  type="checkbox"> &nbsp;<label class="af">State </label>
      <input readonly name="interested_in_camps1" {{#if po_details.interested_in_camps1 }}  checked{{/if}}  type="checkbox">&nbsp;<label class="af">National </label>
      <input readonly name="interested_in_camps2" {{#if po_details.interested_in_camps2 }}  checked{{/if}}  type="checkbox">&nbsp;<label class="af">International </label> 
    </div>
    <div class="col">
      <img class="abimg"src="/images/sign/{{po_details._id}}.jpg">
    </div>
    </div>
 
<br>
    <button class="abutton">Update</button>

</div>