

<div class="abc10">
 
    <form action="/po/po_project_report/{{data._id}}" method="post" enctype="multipart/form-data">
  
    <br><br>
    <input required name="date" class="m2" type="date">
<br><br>
<div class="col">


    <input  readonly name="project_name"  type="text" class="m1" value="  {{data.project_name}}" placeholder="Project Name">
        
    <br><br>
    </div><br>
    <div class="row ap">
    <div class="col">
      <input required name="year" type="number" class="m3" placeholder="Year">
    </div>
    <div class="col">
      <input required name="category" type="text" class="m4" placeholder="Category">
    </div></div>
      <div class="row ap" >
    <div class="col">
      <input required name="expence" type="number" class="m3" placeholder="Expence">
    </div>
    <div class="col">
      <input required name="district" type="text" class="m4" placeholder="District">
    </div></div>
      <div class="row ap">
    <div class="col">
      <input required name="taluk" type="text" class="m3" placeholder="Taluk">
    </div>
    <div class="col">
      <input required name="village" type="text" class="m4" placeholder="Village">
    </div></div>
       <div class="row ap">
    <div class="col">
      <input required name="venue" type="text" class="m3" placeholder="Venue">
    </div>
    <div class="col">
      <input required name="hours" type="number" class="m4" placeholder="Hours">
    </div></div><br>
       <div class="row ap">
    <div class="col">
      <input required type="file" class="m3" name="pr">
    </div>
    <div class="col">
      <input required type="file" class="m4" name="pr" >
    </div>
  </div>

    <textarea required name="description" class="m" placeholder="   Description" >{{data2.description}}</textarea><br><br><br>







    <div class="container">
  <div class="row m-1">
 
      {{#each data1}}
    <div class="col-xl-4"  style=" display: flex; align-items: center; /* width: 103px; */ flex-direction: row;    margin: 8px 0px 8px 0px;">
      <input  class="form-check-input1 ck" name="volunteer" type="checkbox" value="{{_id}}" id="flexCheckIndeterminate">
      <img class="acimg1" src="/images/photo/{{_id}}.jpg">
      <a href="#" class="scroll-a-tag" style="overflow: auto;display: block;margin-left: 13px;color:black;text-decoration:none">{{name}}</a>
    </div>  
{{/each}}
  

<style>
  .scroll-a-tag::-webkit-scrollbar{
    display: none   ;
  }
</style>

    
  </div>
<input  type="submit" class="abutton2" >
{{!--  --}}
<input type="text" name="user_id" value="{{po_details.username}}" hidden>
<input type="text" name="accept_id" value="{{po_details.accept_id}}" hidden>
<input type="text" name="university" value="{{po_details.university}}" hidden>
<input type="text" name="institute_name" value="{{po_details.institute_name}}" hidden>
<input type="text" name="dairy_status" value="false" hidden>
{{!--  --}}
</div>
  


  
    </div>
</form>
</div>
