

<div class="abc10">
 
    <form action="/po/po_project_report/{{data._id}}" method="post" enctype="multipart/form-data">
  
    <br><br>
    <input name="date" class="m2" type="date">
<br><br>
<div class="col">


    <input readonly name="project_name"  type="text" class="m1" value="  {{data.project_name}}" placeholder="Project Name">
        
    <br><br>
    </div><br>
    <div class="row ap">
    <div class="col">
      <input name="year" type="number" class="m3" placeholder="Year">
    </div>
    <div class="col">
      <input name="category" type="text" class="m4" placeholder="Category">
    </div></div>
      <div class="row ap" >
    <div class="col">
      <input name="expence" type="number" class="m3" placeholder="Expence">
    </div>
    <div class="col">
      <input name="district" type="text" class="m4" placeholder="District">
    </div></div>
      <div class="row ap">
    <div class="col">
      <input name="taluk" type="text" class="m3" placeholder="Taluk">
    </div>
    <div class="col">
      <input name="village" type="text" class="m4" placeholder="Village">
    </div></div>
       <div class="row ap">
    <div class="col">
      <input name="venue" type="text" class="m3" placeholder="Venue">
    </div>
    <div class="col">
      <input name="hours" type="number" class="m4" placeholder="Hours">
    </div></div><br>
       <div class="row ap">
    <div class="col">
      <input type="file" class="m3" name="pr">
    </div>
    <div class="col">
      <input type="file" class="m4" name="pr" >
    </div>
  </div>

    <textarea name="description" class="m" placeholder="   Description" ></textarea><br><br><br>







    <div class="container">
  <div class="row m-1">
 
      {{#each data1}}
    <div class="col-xl-4"  style=" display: flex; align-items: center; /* width: 103px; */ flex-direction: row;    margin: 8px 0px 8px 0px;">
      <input class="form-check-input1 ck" name="volunteer" type="checkbox" value="{{_id}}" id="flexCheckIndeterminate">
      <img class="acimg1" src="/images/photo/{{_id}}.jpg">
      <a href="#" class="scroll-a-tag" style="overflow: auto;display: block;margin-left: 13px;color:black;text-decoration:none">{{name}}</a>
    </div>  
{{/each}}
  

<style>
  .scroll-a-tag::-webkit-scrollbar{
    display: none   ;
  }
</style>

    
  </div>
<input type="submit" class="abutton2" >
</div>
  


  
    </div>
</form>
</div>
