<table>
    <tr>
<td><select class="aaa">
        <option >Collage Name</option>
        <option >AWH</option>
       </select></td>
       
<td><button class="abutton1">View</button></td>
</tr>
</table>
<br><br><br>
<table class="table">
  <thead >
    <tr>
      <th scope="col"></th>
      <th scope="col">Camp Name</th>
      <th scope="col">Year</th>
      <td>Category</td>
      <th scope="col">  </th>
    </tr>
  </thead>
  <tbody class="atd">
    {{#each data}}
    <tr>
      <th scope="row"> </th>
      <td><img class="dimg" src="/images/camp/{{this.cr.[0]}}.jpg"></td>
      <td>{{this.camp_name}}</td>
      <td>{{this.year}}</td>
      <td>{{this.category}}</td>
      <td> <a href="/unicod/unicod_camp_report_view/{{this._id}}"><button class="abutton">more</button></td></a>
    </tr>
 {{/each}}
  

</table>