  {{#if data}}
<div class="abc1">
   <div class="text-center">
    <img class="aaimg" src="/images/photo/{{data._id}}.jpg">
   </div>
   <div >
    <h3 class="ah">Institution details </h3>
   </div>
   <div class="row ap">
    <div class="col">
      <label class="af">University</label><input readonly value="{{data.university}}" type="text" class="form-control" >
    </div>
    <div class="col">
      <label class="af">Institute Name</label><input readonly value="{{data.institute_name}}" type="text" class="form-control">
    </div></div>
    <div class="row ap">
    <div class="col">
      <label class="af">Institute Address  </label><textarea readonly class="form-control" >{{data.institute_address}}</textarea>
    </div>
    <div class="col">
      <label class="af">District</label><input readonly value="{{data.district}}" type="text" class="form-control">
    </div></div>
    <div class="row ap">
    <div class="col">
      <label class="af">Pincode</label><input readonly value="{{data.pincode1}}" type="number" class="form-control" >
    </div>
    <div class="col">
      <label class="af">Contact Number</label><input readonly value="{{data.contact_number}}" type="text" class="form-control">
    </div></div>
    <div>
    <h3 class="ah">Bank Details</h3>
  </div>
  <div class="row ap">
    <div class="col">
      <label class="af">Bank Name</label><input readonly value="{{data.bank_name}}" type="text" class="form-control">
    </div>
    <div class="col">
      <label class="af">A/c Number</label><input readonly value="{{data.ac_number}}" type="text" class="form-control">
    </div>
  </div>
  <div class="row ap">
    <div class="col">
      <label class="af">IFSC Code</label><input readonly value="{{data.ifsc_code}}" type="text" class="form-control">
    </div>
    <div class="col">
      <label class="af">Branch Name</label><input readonly value="{{data.branch_name}}" type="text" class="form-control">
    </div>
  </div>
  <div >
    <h3 class="ah">Login details </h3>
   </div>
   <div class="row ap">
    <div class="col">
      <label class="af">username</label><input readonly value="{{data.username}}" name="username" type="text" class="form-control" >
    </div>
    <div class="col">
      <label class="af">Password</label><input readonly value="{{data.password}}" name="password" type="text" class="form-control">
    </div></div>
  <div>
    <h3 class="ah">Personal Details</h3>
  </div>
  <div class="row ap">
    <div class="col">
      <label class="af">Name</label><input readonly value="{{data.name}}" readonly type="text" value="{{data.name}}" class="form-control">
    </div>
    <div class="col">
      <label class="af">Gender</label><input readonly value="{{data.gender}}" type="text" class="form-control">
    </div>
  </div>
  <div class="row ap">
    <div class="col">
      <label class="af">Date of Birth</label><input readonly value="{{data.dob}}" type="text" class="form-control">
    </div>
    <div class="col">
      <label class="af">Contact Number</label><input readonly value="{{data.contact_number}}" type="text" class="form-control">
    </div>
  </div>
  <div class="row ap">
    <div class="col">
      <label class="af">WhatsApp Number </label><input readonly value="{{data.whatsapp_number}}" type="text" class="form-control">
    </div>
    <div class="col">
      <label class="af">Religion</label><input readonly value="{{data.religion}}" type="text" class="form-control">
    </div>
  </div>
  <div class="row ap">
    <div class="col">
      <label class="af">Community </label><input readonly value="{{data.community}}" type="text" class="form-control">
    </div>
    <div class="col">
      <label class="af">Blood Group </label><input readonly value="{{data.blood_group}}" type="text" class="form-control">
    </div>
  </div>
  <div class="row ap">
    <div class="col">
      <label class="af">Height </label><input readonly value="{{data.height}}" type="text" class="form-control">
    </div>
    <div class="col">
      <label class="af">Weight</label><input readonly value="{{data.weight}}" type="text" class="form-control">
    </div>
  </div>
  <div class="row ap">
    <div class="col">
      <label class="af">District </label><input readonly value="{{data.district}}" type="text" class="form-control">
    </div>
    <div class="col">
      <label class="af">Taluk</label><input readonly value="{{data.taluk}}" type="text" class="form-control">
    </div>
  </div>
  <div class="row ap">
    <div class="col">
      <label class="af">Village </label><input readonly value="{{data.village}}" type="text" class="form-control">
    </div>
    <div class="col">
      <label class="af">Pincode</label><input readonly value="{{data.pincode}}" type="text" class="form-control">
    </div>
  </div>
  <div class="row ap">
    <div class="col">
      <label class="af">Name of Parent / Guardian </label><input readonly value="{{data.name_of_parent}}" type="text" class="form-control">
    </div>
    <div class="col">
      <label class="af">Parent's Contact Number </label><input readonly value="{{data.parent_contact_number}}" type="text" class="form-control">
    </div>
  </div>
  <div class="row ap">
    <div class="col">
      <label class="af">Permanent Address </label><textarea readonly class="form-control"> {{data.permanent_address}}</textarea>
    </div>
    <div class="col">
      <label class="af">Contact Address </label><textarea readonly class="form-control"> {{data.contact_address}}</textarea>
    </div>
  </div>
  <div class="row ap">
    <div class="col">
      <b><label class="ah">Languages Known </label><br></b><br><br>
      <input readonly name="{{data.language_known}}" {{#if data.language_known }} checked{{/if}} disabled type="checkbox"> &nbsp;<label class="af">English </label>
      <input readonly name="{{data.language_known2}}" {{#if data.language_known2 }} checked {{/if}} disabled type="checkbox">&nbsp;<label class="af">Hindi </label>
      <input readonly name="{{data.language_known3}}"  {{#if data.language_known3 }} checked{{/if}} disabled  type="checkbox">&nbsp;<label class="af">Malayalam </label>
      <input readonly name="{{data.language_known4}}"  {{#if data.language_known4 }} checked{{/if}} disabled type="checkbox">&nbsp;<label class="af">Others </label>
    </div>
  </div>
  <div class="row ap">
    <div class="col">
      <label class="af">Area of Interest </label><textarea readonly class="form-control"> {{data.area_of_intrest}}</textarea>
    </div>
    <div class="col">
      <label class="af">Hobbies</label><textarea readonly class="form-control"> {{data.hobbies}}</textarea>
    </div>
  </div>
  <div class="row ap">
    <div class="col">
      <label class="af">Prior Experience </label><textarea readonly class="form-control"> {{data.prior_experience}}</textarea>
    </div>
    <div class="col">
      <label class="af">Cultural talents </label><textarea readonly class="form-control"> {{data.cultural_talents}}</textarea>
    </div>
  </div>
  <div class="row ap">
    <div class="col">
      <b><label class="ah">Are you interested in camps</label><br></b><br><br>
          <input readonly name="{{data.interested_in_camps}}"{{#if data.interested_in_camps }}  checked{{/if}} disabled type="checkbox"> &nbsp;<label class="af">State </label>
      <input readonly name="{{data.interested_in_camps1}}"{{#if data.interested_in_camps1 }}  checked{{/if}} disabled type="checkbox">&nbsp;<label class="af">National </label>
      <input readonly name="{{data.interested_in_camps2}}"{{#if data.interested_in_camps2 }}  checked{{/if}} disabled type="checkbox">&nbsp;<label class="af">International </label>
    </div>
    <div class="col">
      <img class="abimg" src="/images/sign/{{data._id}}.jpg">
    </div>
  </div>
    {{/if}}
</div>